body{
    text-align: center;
    background-color: rgb(8, 8, 61);
    color: rgb(254, 252, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calculo{
    width: 200px;
    font-size: 20px;
}