body{
    background-color: rgb(4, 4, 42);
}

form{
    text-align: center;
    color: aliceblue;
    background-color: rgb(86, 2, 14);
    padding: 20px;

}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: aliceblue;
}

h3{
    text-align: center;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: aliceblue;
}
h3.resultado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
input.calcule{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
input.calcule:hover{
    transition: 0.5s linear;
    text-decoration: underline;
}